@charset "UTF-8";
/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg img {
  display: none;
}

/*------------------*/
@font-face {
  font-family: 'Avant Garde';
  src: url("../fonts/AvantGarde/ITCAvantGardeStd-Demi.woff2") format("woff2"), url("../fonts/AvantGarde/ITCAvantGardeStd-Demi.woff") format("woff"), url("../fonts/AvantGarde/ITCAvantGardeStd-Demi.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.hamburger-menu {
  display: none;
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  background-color: #ECEFF1;
  z-index: 50;
}

@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 16px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__button.active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__button.active > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu__button.active > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box.active {
  visibility: visible;
  left: 0;
}

.menu__box li:first-child .menu__item {
  color: #3984f3;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* common styles */
body {
  font-family: Poppins;
  overflow-x: hidden;
}

body.lock {
  overflow-y: hidden;
}

.container {
  max-width: 1710px;
  padding: 0 15px;
  margin: 0 auto;
}

/* slider */
.slick-dots li button:before {
  content: "";
}

.slick-dots li:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid #999999;
}

.slick-dots li.slick-active:before {
  background: url("../images/!slider/circle.svg") 50% 50% no-repeat;
  border-color: #5134db;
}

.slick-arrow:before {
  display: block;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* ------------- */
.wrapper {
  background: url("../images/!bg/01.png") 100% 0 no-repeat;
  background-size: 62%;
  padding: 100px 0 0 0;
}

.header {
  margin: 0 0 240px 0;
}

.header__title {
  color: #69696a;
  font-family: "Times New Roman";
  font-size: 33px;
  text-transform: uppercase;
  margin: 0 0 21px 0;
}

.header__subtitle {
  color: #dfe5e9;
  font-family: Helvetica;
  font-size: 22px;
  letter-spacing: 4.4px;
}

.home {
  margin: 0 0 103px 0;
  overflow: hidden;
}

.home__slider {
  max-width: 610px;
}

@media (max-width: 767px) {
  .home__slider {
    margin: 0 auto;
    max-width: 100%;
  }
}

.home__slider .slick-dots {
  top: calc(100% - 12px);
  left: 106px;
  display: inline-block;
  width: auto;
}

@media (max-width: 767px) {
  .home__slider .slick-dots {
    display: none !important;
  }
}

.home__slider .slick-arrow {
  top: calc(100%);
  width: 86px;
  height: 12px;
  z-index: 1;
  cursor: pointer;
}

.home__slider .slick-arrow:before {
  left: -86px;
  width: 86px;
  z-index: 0;
  height: 12px;
  position: relative;
  /* Style for text */
  color: #3f3f4a;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.home__slider .slick-prev:before {
  left: 24px;
  content: "prev";
  text-align: right;
  background: url("../images/!slider/arrow-left-1.png") 0 50% no-repeat;
}

.home__slider .slick-next:before {
  content: "next";
  text-align: left;
  background: url("../images/!slider/arrow-right-1.png") 100% 50% no-repeat;
}

@media (max-width: 767px) {
  .home__slider .slick-next:before {
    left: calc(100% - 110px);
  }
}

.home__slide {
  overflow-y: auto;
  height: 334px;
  margin: 0 0 12px 0;
}

.home__title {
  color: #79796a;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 300;
  margin: 0 0 12px 0;
  word-wrap: break-word;
}

.home__subtitle {
  color: #044c85;
  font-size: 60px;
  margin: 0 0 15px 0;
  word-wrap: break-word;
}

.home__text {
  color: #79796a;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 300;
  line-height: 47.5px;
  letter-spacing: 1.33px;
}

.home__scroll {
  position: relative;
  bottom: 100px;
  margin: 0 auto -100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(-218.04deg, #6048ff 0%, #7315f0 100%);
  width: 130px;
  height: 130px;
  cursor: pointer;
}

@media (max-width: 1365px) {
  .home__scroll {
    bottom: -30px;
    margin: 0 auto 30px auto;
  }
}

/* 2 blocks in 1 scss style */
.download__title {
  color: #00578d;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 28px 0;
}

.download__subtitle {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 80px 0;
}

.download__links {
  margin: 0 auto;
  max-width: 1263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .download__links {
    margin: -10px;
  }
}

.download__link {
  width: 286px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

@media (max-width: 1199px) {
  .download__link {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 449px) {
  .download__link {
    width: 100%;
  }
}

.download__link-1 {
  background: url("../images/download/01.png") 50% 50% no-repeat, #f4f6f7;
}

.download__link-1:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
          box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
  background: url("../images/download/01_.png") 50% 50% no-repeat, linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
}

.download__link-2 {
  background: url("../images/download/02.png") 50% 50% no-repeat, #f4f6f7;
}

.download__link-2:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
          box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
  background: url("../images/download/02_.png") 50% 50% no-repeat, linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
}

.download__link-3 {
  background: url("../images/download/03.png") 50% 50% no-repeat, #f4f6f7;
}

.download__link-3:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
          box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
  background: url("../images/download/03_.png") 50% 50% no-repeat, linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
}

.download__link-4 {
  background: url("../images/download/04.png") 50% 50% no-repeat, #f4f6f7;
}

.download__link-4:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
          box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
  background: url("../images/download/04_.png") 50% 50% no-repeat, linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
}

.about {
  margin: 193px 0 180px 0;
}

.about .container {
  max-width: 1169px;
}

.about__title {
  color: #6337ff;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 26px 0;
}

.about__subtitle {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.8px;
  text-align: center;
  margin: 0 0 127px 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 100px 0;
}

@media (max-width: 1023px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 25px 0 0;
}

@media (max-width: 1023px) {
  .about__img {
    margin: 0 0 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.about__img img {
  width: 100%;
}

.about__text {
  margin: 0 0 0 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: right;
  color: #79796a;
  font-size: 17px;
  font-weight: 300;
  line-height: 42.5px;
}

@media (max-width: 1023px) {
  .about__text {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    text-align: center;
  }
}

.about__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 41.5px;
  max-width: 371px;
  height: 83px;
  -webkit-box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
          box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
  background-image: linear-gradient(-255.29deg, #6048ff 0%, #782fe2 100%);
  /* Style for text */
  color: #ffffff !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.make {
  margin: 0 0 374px 0;
}

.make__title {
  color: #00578d;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 28px 0;
}

.make__subtitle {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 91px 0;
}

.make__slider {
  max-width: 710px;
  margin: 0 auto;
}

.make__slider .slick-dots {
  top: calc(100% + 84px);
}

@media (max-width: 767px) {
  .make__slider .slick-dots {
    top: calc(100% + 24px);
  }
}

.make__slider .slick-dots li:before {
  border: 3px solid #eeeeee;
}

.make__slider .slick-dots li.slick-active:before {
  background: url("../images/!slider/circle.svg") 50% 50% no-repeat;
  border-color: #5134db;
}

.make__slider .slick-arrow {
  width: 68px;
  height: 128px;
  position: absolute;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.make__slider .slick-arrow:hover, .make__slider .slick-arrow:focus {
  opacity: 1;
}

.make__slider .slick-arrow:before {
  display: none;
}

.make__slider .slick-arrow.slick-prev {
  left: -152px;
  background: url("../images/!slider/arrow-left-2.png") 50% 50% no-repeat;
  z-index: 1;
}

@media (max-width: 1084px) {
  .make__slider .slick-arrow.slick-prev {
    left: -100px;
  }
}

@media (max-width: 949px) {
  .make__slider .slick-arrow.slick-prev {
    left: 0;
  }
}

.make__slider .slick-arrow.slick-next {
  right: -152px;
  background: url("../images/!slider/arrow-right-2.png") 50% 50% no-repeat;
}

@media (max-width: 1084px) {
  .make__slider .slick-arrow.slick-next {
    right: -100px;
  }
}

@media (max-width: 949px) {
  .make__slider .slick-arrow.slick-next {
    right: 0;
  }
}

.make__image {
  width: 100%;
}

.reviews {
  margin: 0 0 195px 0;
  overflow: hidden;
}

.reviews .container {
  max-width: 1573px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1479px) {
  .reviews .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reviews__title {
  margin: 40px 95px 0 0;
  color: #222222;
  font-size: 48px;
  font-weight: 500;
  line-height: 68.64px;
  position: relative;
}

@media (max-width: 1479px) {
  .reviews__title {
    margin: 40px 0 50px 0;
    text-align: center;
  }
}

.reviews__title:before {
  content: "“";
  position: absolute;
  top: 0;
  left: -6px;
  color: #e9effc;
  font-size: 280px;
  font-weight: 500;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -25.5px;
}

@media (max-width: 1479px) {
  .reviews__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviews__item {
  margin: 25.5px;
}

.reviews__body {
  padding: 50px 36px 68px 36px;
  width: 331px;
  height: 308px;
  background: url("../images/reviews/cloud.png") 50% 50% no-repeat;
}

@media (max-width: 374px) {
  .reviews__body {
    width: 100%;
    background-size: contain;
  }
}

.reviews__text {
  color: #79796a;
  font-size: 13px;
  font-weight: 300;
  line-height: 32.5px;
  overflow: auto;
  height: 160px;
  margin: 0 0 18px 0;
}

@media (max-width: 374px) {
  .reviews__text {
    height: 150px;
    margin: 0 0 16px 0;
  }
}

.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__star {
  margin: 0 5px 0 0;
  width: 21px;
  height: 19px;
  background: url("../images/reviews/star.svg") 50% 50% no-repeat;
}

.reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -19px;
  left: 12px;
  margin: 0 0 -19px 0;
}

.reviews__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 22px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Style for text */
  color: #ffffff;
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.reviews__avatar-1 {
  background-color: #5f3dff;
}

.reviews__avatar-2 {
  background-color: #bfcfff;
}

.reviews__avatar-3 {
  background-color: #99ccff;
}

.reviews__name {
  color: #212121;
  font-size: 17px;
  font-weight: 500;
}

.subscribe {
  margin: 0 0 126px 0;
}

.subscribe .container {
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__title {
  font-family: "Avant Garde";
  color: #3c4b74;
  font-weight: 600;
  font-size: 53px;
  text-align: center;
  margin: 133px 0 30px 0;
}

.subscribe__text {
  color: #858992;
  text-align: center;
  max-width: 835px;
  font-size: 20px;
  line-height: 33px;
  margin: 0 0 100px 0;
}

.subscribe__form {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Avant Garde";
}

@media (max-width: 767px) {
  .subscribe__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.subscribe__email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 80px;
  max-width: 570px;
  border-radius: 40px 0 0 40px;
  font-size: 20px;
  -webkit-box-shadow: 0 0 54px #d3d2d8;
          box-shadow: 0 0 54px #d3d2d8;
  padding: 0 79px;
}

@media (max-width: 767px) {
  .subscribe__email {
    border-radius: 40px;
    min-width: 100%;
    margin: 0 0 20px;
    padding: 0 40px;
    text-align: center;
  }
}

.subscribe__submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 80px;
  max-width: 310px;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  background-image: linear-gradient(-248.08deg, #6048ff 0%, #772fe3 100%);
  color: #fff;
  font-size: 20px;
}

@media (max-width: 767px) {
  .subscribe__submit {
    border-radius: 40px;
    max-width: 100%;
  }
}

.socials {
  margin: 0 0 59px 0;
}

.socials .container {
  max-width: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__link {
  width: 45px;
  height: 44px;
}

.socials__link-1 {
  background: url("../images/socials/01.png") 50% 50% no-repeat;
}

.socials__link-1:hover {
  background-image: url("../images/socials/01_.png");
}

.socials__link-2 {
  background: url("../images/socials/02.png") 50% 50% no-repeat;
}

.socials__link-2:hover {
  background-image: url("../images/socials/02_.png");
}

.socials__link-3 {
  background: url("../images/socials/03.png") 50% 50% no-repeat;
}

.socials__link-3:hover {
  background-image: url("../images/socials/03_.png");
}

.socials__link-4 {
  background: url("../images/socials/04.png") 50% 50% no-repeat;
}

.socials__link-4:hover {
  background-image: url("../images/socials/04_.png");
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 43px 0 58px 0;
  max-width: 1176px;
}

.footer__nav {
  margin: 0 auto;
  background-color: #fafbff;
}

.footer__ul {
  margin: 0 15px;
}

.footer__li {
  display: inline-block;
  margin: 15px 66px 0 0;
}

.footer__li:last-child {
  margin: 15px 0 0 0;
}

.footer__link {
  color: #aaaaaa !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: black !important;
}

.footer__docs {
  margin: 0 15px;
}

.footer__docs-link {
  color: #aaaaaa !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  display: inline-block;
  margin: 15px 31px 0 0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__docs-link:hover {
  color: black !important;
}

.footer__docs-link:last-child {
  margin: 15px 0 0 0;
}

.footer__copyright {
  padding: 25px 0;
  text-align: center;
  color: #aaaaaa;
  font-family: Tahoma;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
