@charset "UTF-8";

@import "zerostyle";
@import "fonts";
@import "slider";
@import "burger";

/* common styles */
.wrapper {
  font-family: Poppins;
  overflow-x: hidden;
}
.container {
  max-width: 1710px;
  padding: 0 15px;
  margin: 0 auto;
}
/* slider */
.slick-dots li button:before {
  content: "";
}
.slick-dots {
  li {
    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 4px solid #999999;
    }
    &.slick-active {
      &:before {
        background: url("../images/!slider/circle.svg") 50% 50% no-repeat;
        border-color: #5134db;
      }
    }
  }
}
.slick-arrow {
  &:before {
    display: block;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
}

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* ------------- */
.wrapper {
  background: url("../images/!bg/01.png") 100% 0 no-repeat,
  url("../images/!bg/02.png") 0 784px no-repeat,
  url("../images/!bg/03.png") 100% 2521px no-repeat;
  background-size: 62%, auto, auto;
  padding: 100px 0 0 0;
  @media(max-width: 767px) {
    background: none;
    padding: 15px 0 0 0;
  }
}

.header {
  margin: 0 0 240px 0;
  @media(max-width: 767px) {
    margin: 0 0 100px 0;
  }
  &__title {
    color: #69696a;
    font-family: "Times New Roman";
    font-size: 33px;
    text-transform: uppercase;
    margin: 0 0 21px 0;
    @media(max-width: 767px) {
      margin: 0 0 8px 0;
    }
  }
  &__subtitle {
    color: #dfe5e9;
    font-family: Helvetica;
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}

.home {
  margin: 0 0 103px 0;
  overflow: hidden;
  @media(max-width: 767px) {
    margin: 0 0 100px 0;
  }
  &__slider {
    max-width: 610px;
    @media (max-width: 767px) {
      margin: 0 auto;
      max-width: 100%;
    }
    .slick-dots {
      top: calc(100% - 12px);
      left: 106px;
      display: inline-block;
      width: auto;
      @media (max-width: 767px) {
        display: none !important;
      }
    }
    .slick-arrow {
      top: calc(100%);
      width: 86px;
      height: 12px;
      z-index: 1;
      &:before {
        left: -86px;
        width: 86px;
        z-index: 0;
        height: 12px;
        position: relative;
        /* Style for text */
        color: #3f3f4a;
        font-size: 12px;
        text-transform: uppercase;
        font-family: Poppins;
        font-weight: 700;
        letter-spacing: 2.4px;
      }
      cursor: pointer;
    }
    .slick-prev {
      &:before {
        left: 24px;
        content: "prev";
        text-align: right;
        background: url("../images/!slider/arrow-left-1.png") 0 50% no-repeat;
      }
    }
    .slick-next {
      &:before {
        content: "next";
        text-align: left;
        background: url("../images/!slider/arrow-right-1.png") 100% 50% no-repeat;
        @media (max-width: 767px) {
          left: calc(100% - 110px);
        }
      }
    }
  }

  &__slide {
    overflow-y: auto;
    height: 334px;
    margin: 0 0 12px 0;
  }

  &__title {
    color: #79796a;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 300;
    margin: 0 0 12px 0;
    word-wrap: break-word;
  }

  &__subtitle {
    color: #044c85;
    font-size: 60px;
    margin: 0 0 15px 0;
    word-wrap: break-word;
  }

  &__text {
    color: #79796a;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
    line-height: 47.5px;
    letter-spacing: 1.33px;
  }

  &__scroll {
    position: relative;
    bottom: 100px;
    margin: 0 auto -100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(-218.04deg, #6048ff 0%, #7315f0 100%);
    width: 130px;
    height: 130px;
    cursor: pointer;
    user-select: none;
    @media (max-width: 1365px) {
      bottom: -30px;
      margin: 0 auto 30px auto;
    }
    @media(max-width: 767px) {
      display: none;
    }
    img {
      transition: transform 0.45s ease;
    }
    &:hover {
      img {
        transform: rotate(360deg);
      }
    }
  }
}

/* 2 blocks in 1 scss style */
.download {
	&__title {
    color: #00578d;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 28px 0;
	}
	&__subtitle {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 80px 0;
    @media(max-width: 767px) {
      margin: 0 0 50px 0;
    }
	}
  &__links {  
    margin: 0 auto;
    max-width: 1263px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width: 1199px) {
      margin: -10px;
    }
  }
  &__link {
    width: 286px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    @media(max-width: 1199px) {
      width: calc(50% - 20px);
      margin: 10px;
    }
    @media(max-width: 449px) {
      width: 100%;
    }
    &-1 {
      background: url("../images/download/01.png") 50% 50% no-repeat, #f4f6f7;
      &:hover {
        box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
        background: url("../images/download/01_.png") 50% 50% no-repeat,
        linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
      }
    }
    &-2 {
      background: url("../images/download/02.png") 50% 50% no-repeat, #f4f6f7;
      &:hover {
        box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
        background: url("../images/download/02_.png") 50% 50% no-repeat,
        linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
      }
    }
    &-3 {
      background: url("../images/download/03.png") 50% 50% no-repeat, #f4f6f7;
      &:hover {
        box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
        background: url("../images/download/03_.png") 50% 50% no-repeat,
        linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
      }
    }
    &-4 {
      background: url("../images/download/04.png") 50% 50% no-repeat, #f4f6f7;
      &:hover {
        box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
        background: url("../images/download/04_.png") 50% 50% no-repeat,
        linear-gradient(-248.92deg, #6048ff 0%, #7920e6 100%);
      }
    }
  }
}

.about {
  margin: 193px 0 180px 0;
  @media(max-width: 767px) {
    margin: 100px 0;
  }
  .container {
    max-width: 1169px;
  }
  &__title {
    color: #6337ff;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 26px 0;
  }
  &__subtitle {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.8px;
    text-align: center;
    margin: 0 0 127px 0;
    @media(max-width: 767px) {
      margin: 0 0 40px 0;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    margin: 0 0 100px 0;
    @media(max-width: 1023px) {
      flex-direction: column;
    }
    @media(max-width: 767px) {
      margin: 0 0 40px 0;
    }
  }

  &__img {
    flex: 0 1 50%;
    margin: 0 25px 0 0;
    @media(max-width: 1023px) {
      margin: 0 0 30px;
      flex: 0;
    }
    img {
      width: 100%;
    }
  }

  &__text {
    margin: 0 0 0 25px;
    flex: 0 1 50%;
    text-align: right;
    color: #79796a;
    font-size: 17px;
    font-weight: 300;
    line-height: 42.5px;
    @media(max-width: 1023px) {
      margin: 0;
      flex: 0;
      text-align: center;
    }
  }

  &__button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 41.5px;
    max-width: 371px;
    height: 83px;
    box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
    background-image: linear-gradient(-255.29deg, #6048ff 0%, #782fe2 100%);
    @media(max-width: 767px) {
      max-width: 100%;
    }
    /* Style for text */
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }
}

.make {
  &__title {
    color: #00578d;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 28px 0;
  }

  &__subtitle {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 91px 0;
    @media(max-width: 767px) {
      margin: 0 0 40px 0;
    }
  }

  &__slider {
    max-width: 710px;
    margin: 0 auto;
    .slick-dots {
      top: calc(100% + 84px);
      @media(max-width: 767px) {
        top: calc(100% + 24px);
      }
      li {
        &:before {
          border: 3px solid #eeeeee;
        }
        &.slick-active {
          &:before {
            background: url("../images/!slider/circle.svg") 50% 50% no-repeat;
            border-color: #5134db;
          }
        }
      }
    }
    .slick-arrow {
      width: 68px;
      height: 128px;
      position: absolute;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      &:hover,
      &:focus {
        opacity: 1;
      }
      &:before {
        display: none;
      }
      &.slick-prev {
        left: -152px;
        background: url("../images/!slider/arrow-left-2.png") 50% 50% no-repeat;
        z-index: 1;
        @media(max-width: 1084px) {
          left: -100px
        }
        @media(max-width: 949px) {
          left: 0;
        }
      }
      &.slick-next {
        right: -152px;
        background: url("../images/!slider/arrow-right-2.png") 50% 50% no-repeat;
        @media(max-width: 1084px) {
          right: -100px
        }
        @media(max-width: 949px) {
          right: 0;
        }
      }
    }
  }

  &__image {
    width: 100%;
  }
}

.reviews {
  margin: 0 0 195px 0;
  padding: 374px 0 0 0;
  overflow: hidden;
  @media(max-width: 767px) {
    padding: 205px 0 0 0;
    margin: 0 0 100px 0;
  }
  .container {
    max-width: 1573px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media(max-width: 1479px) {
      flex-direction: column;
    }
  }
  &__title {
    margin: 40px 95px 0 0;
    color: #222222;
    font-size: 48px;
    font-weight: 500;
    line-height: 68.64px;
    position: relative;
    @media(max-width: 1479px) {
      margin: 40px 0 50px 0;
      text-align: center;
    }
    &:before {
      content: "“";
      position: absolute;
      top: 0;
      left: -6px;
      color: #e9effc;
      font-size: 280px;
      font-weight: 500;
    }
  }

  &__list {
    display: flex;
    margin: -25.5px;
    @media(max-width: 1479px) {
      flex-wrap: wrap;
      justify-content: center
    }
  }

  &__item {
    margin: 25.5px;
  }

  &__body {
    padding: 50px 36px 68px 36px;
    width: 331px;
    height: 308px;
    background: url("../images/reviews/cloud.png") 50% 50% no-repeat;
    @media(max-width: 374px) {
      width: 100%;
      background-size: contain;
    }
  }

  &__text {
    color: #79796a;
    font-size: 13px;
    font-weight: 300;
    line-height: 32.5px;
    overflow: auto;
    height: 160px;
    margin: 0 0 18px 0;
    @media(max-width: 374px) {
      height: 150px;
      margin: 0 0 16px 0;
    }
  }

  &__stars {
    display: flex;
  }

  &__star {
    margin: 0 5px 0 0;
    width: 21px;
    height: 19px;
    background: url("../images/reviews/star.svg") 50% 50% no-repeat;
  }

  &__user {
    display: flex;
    align-items: center;
    position: relative;
    top: -19px;
    left: 12px;
    margin: 0 0 -19px 0;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 22px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* Style for text */
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    &-1 {
      background-color: #5f3dff;
    }
    &-2 {
      background-color: #bfcfff;
    }
    &-3 {
      background-color: #99ccff;
    }
  }

  &__name {
    color: #212121;
    font-size: 17px;
    font-weight: 500;
  }
}

.subscribe {
  margin: 133px 0 126px 0;
  @media(max-width: 767px) {
    margin: 100px 0 50px 0;
  }
  .container {
    max-width: 940px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    font-family: "Avant Garde";
    color: #3c4b74;
    font-weight: 600;
    font-size: 53px;
    text-align: center;
    margin: 0 0 30px 0;
  }

  &__text {
    color: #858992;
    text-align: center;
    max-width: 835px;
    font-size: 20px;
    line-height: 33px;
    margin: 0 0 100px 0;
    @media(max-width: 767px) {
      margin: 0 0 40px 0;
    }
  }

  &__form {
    align-self: stretch;
    display: flex;
    justify-content: center;
    font-family: "Avant Garde";
    @media(max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__email {
    flex: 1 1 100%;
    height: 80px;
    max-width: 570px;
    border-radius: 40px 0 0 40px;
    font-size: 20px;
    box-shadow: 0 0 54px #d3d2d8;
    padding: 0 79px;
    @media(max-width: 767px) {
      border-radius: 40px;
      min-width: 100%;
      margin: 0 0 20px;
      padding: 0 40px;
      text-align: center;
    }
  }

  &__submit {
    flex: 1 1 100%;
    height: 80px;
    max-width: 310px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    background-image: linear-gradient(-248.08deg, #6048ff 0%, #772fe3 100%);
    color: #fff;
    font-size: 20px;
    @media(max-width: 767px) {
      border-radius: 40px;
      max-width: 100%;
    }
  }
}

.socials {
  margin: 0 0 59px 0;
  @media(max-width: 767px) {
    margin: 0 0 50px 0;
  }
  .container {
    max-width: 257px;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    width: 45px;
    height: 44px;
    transition: background-position 0.3s ease,
    background-image 0.3s ease;
    &:hover {
      background-position: 0 -44px;
    }
    &-1 {
      background: url("../images/socials/01.png") 50% 50% repeat-y;
      &:hover {
        background-image: url("../images/socials/01_.png");
      }
    }
    &-2 {
      background: url("../images/socials/02.png") 50% 50% repeat-y;
      &:hover {
        background-image: url("../images/socials/02_.png");
      }
    }
    &-3 {
      background: url("../images/socials/03.png") 50% 50% repeat-y;
      &:hover {
        background-image: url("../images/socials/03_.png");
      }
    }
    &-4 {
      background: url("../images/socials/04.png") 50% 50% repeat-y;
      &:hover {
        background-image: url("../images/socials/04_.png");
      }
    }
  }
}

.footer {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 43px 0 58px 0;
    max-width:  1176px;
  }
  &__nav {
    margin: 0 auto;
    background-color: #fafbff;
  }

  &__ul {
    margin: 0 15px;
  }

  &__li {
    display: inline-block;
    margin: 15px 66px 0 0;
    &:last-child {
      margin: 15px 0 0 0;
    }
  }

  &__link {
    color: #aaaaaa !important;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    transition: color 0.3s ease;
    &:hover {
      color: black !important;
    }
  }

  &__docs {
    margin: 0 15px;
  }

  &__docs-link {
    color: #aaaaaa !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    display: inline-block;
    margin: 15px 31px 0 0;
    transition: color 0.3s ease;
    &:hover {
      color: black !important;
    }
    &:last-child {
      margin: 15px 0 0 0;
    }
  }

  &__copyright {
    padding: 25px 0;
    text-align: center;
    color: #aaaaaa;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
}